<div class="container46">
  <div class="dashboard">Dashboard</div>
  <div class="container47">
    <div class="overview">Overview</div>
    <div class="textbox6">
      <div class="oct25Oct30">Oct 25 - Oct 30</div>
      <div class="calendar"><img src="assets/calendar-icon.svg" alt="" class="icon" /></div>
    </div>
    <div class="container48">
      <div class="_12">12</div>
      <div class="demandeFromLabo">Demande from labo</div>
      <button class="button14">
        <div class="chemistry"><img src="assets/chemistry-icon.svg" alt="" class="icon2" /></div>
      </button>
      <div class="_539">5.39%</div>
      <div class="arrowDropUpLarge1"><img src="assets/arrow-drop-up-large-1-icon.svg" alt="" class="icon3" /></div>
      <div class="periodOfChange">period of change</div>
      <div class="columnBarChart1">
        <div class="rectangle"></div>
        <div class="rectangle2"></div>
        <div class="rectangle3"></div>
        <div class="rectangle4"></div>
        <div class="rectangle5"></div>
        <div class="rectangle6"></div>
        <div class="rectangle7"></div>
      </div>
    </div>
    <div class="container49">
      <div class="_218">218</div>
      <div class="demandeInProgress">Demande in progress</div>
      <button class="button15">
        <div class="paper"><img src="assets/paper-icon.svg" alt="" class="icon4" /></div>
      </button>
      <div class="_5392">5.39%</div>
      <div class="arrowDropUpLarge2"><img src="assets/arrow-drop-up-large-2-icon.svg" alt="" class="icon5" /></div>
      <div class="periodOfChange2">period of change</div>
      <div class="columnBarChart2">
        <div class="rectangle8"></div>
        <div class="rectangle9"></div>
        <div class="rectangle10"></div>
        <div class="rectangle11"></div>
        <div class="rectangle12"></div>
        <div class="rectangle13"></div>
        <div class="rectangle14"></div>
      </div>
    </div>
    <div class="container50">
      <div class="_298">298</div>
      <div class="newCustomer">New customer</div>
      <button class="button16">
        <div class="circle9"><img src="assets/circle9-icon.svg" alt="" class="icon6" /></div>
      </button>
      <div class="_684">6.84%</div>
      <div class="arrowDropUpLarge3"><img src="assets/arrow-drop-up-large-3-icon.svg" alt="" class="icon7" /></div>
      <div class="periodOfChange3">period of change</div>
      <div class="columnBarChart3">
        <div class="rectangle15"></div>
        <div class="rectangle16"></div>
        <div class="rectangle17"></div>
        <div class="rectangle18"></div>
        <div class="rectangle19"></div>
        <div class="rectangle20"></div>
        <div class="rectangle21"></div>
      </div>
    </div>
    <div class="layout111"><img src="assets/layout-11-1-icon.svg" alt="" class="icon8" /></div>
  </div>
  <div class="textbox7">
    <div class="search">Search...</div>
    <div class="search2"><img src="assets/search-icon.svg" alt="" class="icon9" /></div>
  </div>
  <div class="container51">
    <div class="demandeStatus">Demande status</div>
    <div class="fileText1"><img src="assets/file-text-1-icon.svg" alt="" class="icon10" /></div>
    <button class="button17">
      <div class="funnel"><img src="assets/funnel-icon.svg" alt="" class="icon11" /></div>
    </button>
    <div class="container52">
      <div class="_110Of145">1 - 10 of 145</div>
      <button class="button19">
        <div class="chevronLeftLarge"><img src="assets/chevron-left-large-icon.svg" alt="" class="icon12" /></div>
      </button>
      <button class="button20"><div class="_2">2</div></button>
      <button class="button21"><div class="_3">3</div></button>
      <button class="button22"><div class="_4">4</div></button>
      <button class="button23">
        <div class="menu5"><img src="assets/menu-5-icon.svg" alt="" class="icon13" /></div>
      </button>
      <button class="button24"><div class="_10">10</div></button>
      <button class="button25"><div class="_11">11</div></button>
      <button class="button26"><div class="_1">1</div></button>
      <button class="button27">
        <div class="chevronRightLarge"><img src="assets/chevron-right-large-icon.svg" alt="" class="icon14" /></div>
      </button>
      <div class="table1">
        <div class="row">
          <div class="frame"><div class="_25112023">25/11/2023</div></div>
          <div class="frame2">
            <div class="checkbox">
              <div class="frame3"><div class="rectangle22"></div></div>
            </div>
          </div>
          <div class="frame4"><div class="_6496">$6,496</div></div>
          <div class="frame5"><div class="laborisOfficiaVeniam">Laboris officia veniam</div></div>
          <div class="frame6">
            <div class="tag">
              <div class="frame7"><div class="inProgress">In progress</div></div>
            </div>
          </div>
          <div class="frame8"><div class="austin">Austin</div></div>
          <div class="frame9">
            <div class="create"><img src="assets/create-icon.svg" alt="" class="icon15" /></div>
          </div>
        </div>
        <div class="row2">
          <div class="frame10">
            <div class="tag2">
              <div class="frame11"><div class="inProgress2">In progress</div></div>
            </div>
          </div>
          <div class="frame12"><div class="_2782023">27/08/2023</div></div>
          <div class="frame13"><div class="laborumMagnaTemp">Laborum magna temp</div></div>
          <div class="frame14"><div class="newYork">New York</div></div>
          <div class="frame15">
            <div class="create2"><img src="assets/create-icon2.svg" alt="" class="icon16" /></div>
          </div>
          <div class="frame16"><div class="_606">$6,006</div></div>
          <div class="frame17">
            <div class="checkbox2">
              <div class="frame18">
                <div class="rectangle23"></div>
                <div class="frame19"><img src="assets/frame-icon.svg" alt="" class="icon17" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row3">
          <div class="frame20">
            <div class="tag3">
              <div class="frame21"><div class="new">New</div></div>
            </div>
          </div>
          <div class="frame22"><div class="adelaide">Adelaide</div></div>
          <div class="frame23"><div class="_2162">$2,162</div></div>
          <div class="frame24">
            <div class="checkbox3">
              <div class="frame25"><div class="rectangle24"></div></div>
            </div>
          </div>
          <div class="frame26">
            <div class="create3"><img src="assets/create-icon3.svg" alt="" class="icon18" /></div>
          </div>
          <div class="frame27"><div class="_722023">07/02/2023</div></div>
          <div class="frame28"><div class="nisiNostrudAmetMol">Nisi nostrud amet mol</div></div>
        </div>
        <div class="row4">
          <div class="frame29">
            <div class="checkbox4">
              <div class="frame30">
                <div class="rectangle25"></div>
                <div class="frame31"><img src="assets/frame-icon2.svg" alt="" class="icon19" /></div>
              </div>
            </div>
          </div>
          <div class="frame32">
            <div class="create4"><img src="assets/create-icon4.svg" alt="" class="icon20" /></div>
          </div>
          <div class="frame33"><div class="_3062023">30/06/2023</div></div>
          <div class="frame34"><div class="newYork2">New York</div></div>
          <div class="frame35"><div class="inLaboreCommodoIp">In labore commodo ip</div></div>
          <div class="frame36">
            <div class="tag4">
              <div class="frame37"><div class="cancelled">Cancelled</div></div>
            </div>
          </div>
          <div class="frame38"><div class="_2517">$2,517</div></div>
        </div>
        <div class="row5">
          <div class="frame39"><div class="_1452023">14/05/2023</div></div>
          <div class="frame40">
            <div class="create5"><img src="assets/create-icon5.svg" alt="" class="icon21" /></div>
          </div>
          <div class="frame41"><div class="_9898">$9,898</div></div>
          <div class="frame42">
            <div class="tag5">
              <div class="frame43"><div class="inProgress3">In progress</div></div>
            </div>
          </div>
          <div class="frame44">
            <div class="checkbox5">
              <div class="frame45"><div class="rectangle26"></div></div>
            </div>
          </div>
          <div class="frame46"><div class="pune">Pune</div></div>
          <div class="frame47"><div class="cillumAdipisicingNon">Cillum adipisicing non</div></div>
        </div>
        <div class="row6">
          <div class="frame48">
            <div class="checkbox6">
              <div class="frame49"><div class="rectangle27"></div></div>
            </div>
          </div>
          <div class="frame50">
            <div class="tag6">
              <div class="frame51"><div class="new2">New</div></div>
            </div>
          </div>
          <div class="frame52"><div class="milan">Milan</div></div>
          <div class="frame53"><div class="_475">$4,075</div></div>
          <div class="frame54"><div class="laboreTemporDuisCil">Labore tempor duis cil</div></div>
          <div class="frame55">
            <div class="create6"><img src="assets/create-icon6.svg" alt="" class="icon22" /></div>
          </div>
          <div class="frame56"><div class="_30620232">30/06/2023</div></div>
        </div>
        <div class="row7">
          <div class="frame57"><div class="_2832023">28/03/2023</div></div>
          <div class="frame58"><div class="auteIrureNostrudIrur">Aute irure nostrud irur</div></div>
          <div class="frame59">
            <div class="tag7">
              <div class="frame60"><div class="inProgress4">In progress</div></div>
            </div>
          </div>
          <div class="frame61">
            <div class="create7"><img src="assets/create-icon7.svg" alt="" class="icon23" /></div>
          </div>
          <div class="frame62"><div class="london">London</div></div>
          <div class="frame63"><div class="_2189">$2,189</div></div>
          <div class="frame64">
            <div class="checkbox7">
              <div class="frame65">
                <div class="rectangle28"></div>
                <div class="frame66"><img src="assets/frame-icon3.svg" alt="" class="icon24" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row8">
          <div class="frame67">
            <div class="tag8">
              <div class="frame68"><div class="new3">New</div></div>
            </div>
          </div>
          <div class="frame69">
            <div class="create8"><img src="assets/create-icon8.svg" alt="" class="icon25" /></div>
          </div>
          <div class="frame70"><div class="estOfficiaVeniamCon">Est officia veniam con</div></div>
          <div class="frame71">
            <div class="checkbox8">
              <div class="frame72"><div class="rectangle29"></div></div>
            </div>
          </div>
          <div class="frame73"><div class="_8800">$8,800</div></div>
          <div class="frame74"><div class="_742023">07/04/2023</div></div>
          <div class="frame75"><div class="minneapolis">Minneapolis</div></div>
        </div>
        <div class="row9">
          <div class="frame76"><div class="_7635">$7,635</div></div>
          <div class="frame77">
            <div class="checkbox9">
              <div class="frame78"><div class="rectangle30"></div></div>
            </div>
          </div>
          <div class="frame79"><div class="berlin">Berlin</div></div>
          <div class="frame80"><div class="incididuntDoNostrudI">Incididunt do nostrud i</div></div>
          <div class="frame81"><div class="_2522023">25/02/2023</div></div>
          <div class="frame82">
            <div class="tag9">
              <div class="frame83"><div class="cancelled2">Cancelled</div></div>
            </div>
          </div>
          <div class="frame84">
            <div class="create9"><img src="assets/create-icon9.svg" alt="" class="icon26" /></div>
          </div>
        </div>
        <div class="row10">
          <div class="frame85"><div class="columbus">Columbus</div></div>
          <div class="frame86">
            <div class="create10"><img src="assets/create-icon10.svg" alt="" class="icon27" /></div>
          </div>
          <div class="frame87">
            <div class="tag10">
              <div class="frame88"><div class="completed">Completed</div></div>
            </div>
          </div>
          <div class="frame89"><div class="_8535">$8,535</div></div>
          <div class="frame90"><div class="esseDuisLaborisIpsu">Esse duis laboris ipsu</div></div>
          <div class="frame91">
            <div class="checkbox10">
              <div class="frame92"><div class="rectangle31"></div></div>
            </div>
          </div>
          <div class="frame93"><div class="_17102023">17/10/2023</div></div>
        </div>
        <div class="header">
          <div class="frame94"><div class="iD">ID</div></div>
          <div class="frame95"><div class="demande">Demande</div></div>
          <div class="frame96"></div>
          <div class="frame97"><div class="sTATUS">STATUS</div></div>
          <div class="frame98"><div class="patient">Patient</div></div>
          <div class="frame99"><div class="dATE">DATE</div></div>
          <div class="frame100"></div>
        </div>
        <div class="checkbox1">
          <div class="frame101"><div class="rectangle32"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container53">
  <div class="sidebarMenu1">
    <div class="frame102">
      <div class="integrations">Integrations</div>
      <div class="code"><img src="assets/code-icon.svg" alt="" class="icon28" /></div>
    </div>
    <div class="frame103">
      <div class="patients">Patients</div>
      <div class="chartPie35"><img src="assets/chart-pie-35-icon.svg" alt="" class="icon29" /></div>
    </div>
    <div class="frame104">
      <div class="dashboard2">Dashboard</div>
      <div class="layout11"><img src="assets/layout-11-icon.svg" alt="" class="icon30" /></div>
    </div>
  </div>
  <div class="image59"><img src="assets/image-59-icon.svg" alt="" class="icon31" /></div>
  <div class="personal">Personal</div>
  <div class="line8"><img src="assets/line-8-icon.svg" alt="" class="icon32" /></div>
  <div class="workingSpace">Working space</div>
  <div class="sidebarMenu2">
    <div class="frame105">
      <div class="messages">Messages</div>
      <div class="fChat"><img src="assets/f-chat-icon.svg" alt="" class="icon33" /></div>
      <div class="frame106"><div class="n">N</div></div>
    </div>
    <div class="frame107">
      <div class="setting">Setting</div>
      <div class="settingsGear"><img src="assets/settings-gear-icon.svg" alt="" class="icon34" /></div>
    </div>
    <div class="frame108">
      <div class="notifications">Notifications</div>
      <div class="bell"><img src="assets/bell-icon.svg" alt="" class="icon35" /></div>
    </div>
    <div class="frame109">
      <div class="teams">Teams</div>
      <div class="meeting"><img src="assets/meeting-icon.svg" alt="" class="icon36" /></div>
    </div>
  </div>
  <div class="avatar1"><div class="rectangle33"></div></div>
  <div class="sergeyGoldberg">Sergey Goldberg</div>
  <div class="companyExampleCom">company@example.com</div>
</div>
